startup --windows_enable_symlinks
build --enable_runfiles
# Disable detected CPP toolchain to make sure we're only using the 
# com_grail_bazel_toolchain one.
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_strict_action_env
build --incompatible_enable_cc_toolchain_resolution
